/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeContainer{
top: -30px;
left: -5px;
height: 250px;
background: transparent linear-gradient(180deg, #E5F1F7 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
opacity: 1;}